# Example env vars (no secrets)
# FEATURE_FLAG_X=false

# Development defaults
NEXT_PUBLIC_OPERATOR_APP_URL=http://127.0.0.1:3110
NEXT_PUBLIC_FORMS_APP_URL=http://127.0.0.1:3200
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:3100

# Production defaults
# NEXT_PUBLIC_OPERATOR_APP_URL=
# NEXT_PUBLIC_FORMS_APP_URL=https://forms.hitechrts.com
# NEXT_PUBLIC_API_BASE_URL=https://engine.hitechrts.com
